@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$font1: 'Montserrat', sans-serif;

.App {
  text-align: center;
  font-family: $font1;
  font-weight: 300;
}

